//colors
$light-gray: #A0A0A0;
$blue: #48556A;

//breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

//fonts
$testimonial-heading: 'Abril Fatface', cursive;
$testimonial-text: 'Helvetica Neue',Helvetica,"Lucida Grande",Arial,sans-serif;
